body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #eee;
}

header {
    display: block;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #333333;
}

header h1 {
    color: #ffffff;
    margin-left: 20px;
}

#content {
    padding: 10px;
}

#content ul {
    list-style: none;
    font-family: "Calibri", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content ul li {
    height: 80px;
    padding-bottom: 5px;
    padding-top: 0;
    background-color: #ffffff;
    -moz-box-shadow: 5px 5px 2px #888;
    -webkit-box-shadow: 5px 5px 2px #888;
    box-shadow: 5px 5px 2px #888;
}

#content ul li h3 {
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: normal;
    letter-spacing: -0.03em;
    color: #55678d;
}

#content ul li p {
    color: #555;
    font-family: Arial, sans-serif;
}

#content ul li img {
    background: #fff;
    display: block;
    max-width: 75px;
    height: 75px;
    float: left;
    padding: 2px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

#content ul a:hover li h3 {
    color: #7287b1;
}

#content ul a:hover li p {
    color: #757575;
}

#content ul a:hover li {
    background: #efefef;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#efefef));
    background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -o-linear-gradient(top, #ffffff, #efefef);
    background-image: linear-gradient(top, #ffffff, #efefef);
}


.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    padding: 5px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.action-button.center {
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.blue {
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

#back-button {
    float: left;
    margin-top: 25px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
}

#back-button:active {
    opacity: .4;
}